################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoOpenGL1/v16/Browse.VC.db-shm
/.vs/DemoOpenGL1/v16/Browse.VC.db-wal
/.vs/DemoOpenGL1/v16/Browse.VC.opendb
